@using th_lesson10.Models
@model Genre

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Genre: @Model.Name</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Genre
        </th>
        <th>
            Price
        </th>
        <th>
            Details
        </th>
    </tr>
    @foreach (Album album in Model.Albums)
    {
    <tr>
        <td>
            @album.Title
        </td>
        <td>
            @album.Genre.Name
        </td>
        <td>
            @album.Price
        </td>
        <td>
            <a href="@Url.Action("Details", new { id=album.AlbumID } )" class="btn btn-default" title="Info">
                <i class="fa fa-info"></i>
            </a> 
        </td>
    </tr>
    }
</table>
